<h1>Editing comment</h1>

<%= render "form", comment: @comment, item: @item %>

<br>

<div>
  <%= link_to "Show this comment", item_comment_path(@item, @comment) %> |
  <%= link_to "Back to comments", item_comments_path %>
</div>
