<h1>Editing comment</h1>

<%= render "form", location: @location, comment: @comment, item: @item %>

<br>

<div>
  <%= link_to "Show this comment", location_item_comment_path(@location, @item, @comment) %> |
  <%= link_to "Back to comments", location_item_comments_path(@location, @item) %>
</div>
