<h1>Comments</h1>

<div id="comments">
  <% @comments.each do |comment| %>
    <%= render comment %>
    <p>
      <%= link_to "Show this comment", [@location, @item, comment] %>
    </p>
  <% end %>
</div>

<%= link_to "New comment", new_location_item_comment_path(@location, @item) %>
