<%= render @comment %>

<div>
  <%= link_to "Edit this comment", edit_location_item_comment_path(@location, @item, @comment) %> |
  <%= link_to "Back to comments", location_item_comments_path(@location, @item) %>

  <%= button_to "Destroy this comment", location_item_comment_path(@location, @item, @comment), method: :delete %>
</div>
