<div class="masthead">
  <h1><%= t('.heading') %></h1>
  <%= govspeak_to_html t('.body') %>
  <%= govuk_start_button(text: t('.button_to_most_popular'), href: item_path(@most_popular_item)) %>
</div>
